.container {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

/*BANNER*/

.hero {
    position: relative;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-control-next {
    width: 50%;
}

.carousel-control-prev {
    width: 50%;
}

.shape-click {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17%;
    height: 13%;
    background-color: #ffffff;
}

.btn-shape-click {
    margin: 0px 0.25px 0px 0.25px;
    float: right;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.in-body-lr {
    background-image: url(../img/banner@3x.png);
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tg-ch {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.57;
    letter-spacing: 2.8px;
    margin: 37px 0px 0px 122px;
}

.g-czsale {
    line-height: 1.25;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin: 0 0px 0px 80px;
}

.g-czsale h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
}

.so-huu-ngay {
    width: 100%;
    font-size: 12px;
    line-height: 1.57;
    text-transform: uppercase;
    margin: 3px 0px 0px 100px
}

.tim-hieu-them {
    background-color: #ffffff;
    text-align: center;
    width: 99px;
    height: 30px;
    margin: 11px 0px 0px 187px;
}

.tim-hieu-them a {
    padding: 6px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    display: block;
}

.f-tim-hieu-them {
    /*button TIM HIEU THEM */
    padding: 15px;
    width: 129px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
}

.sale-note {
    position: absolute;
    font-size: 8px;
    bottom: 10px;
    left: 35px;
}

/* end BANNER */

/* DISCRIPTION 1 */

.bg-mid-7-dis {
    /*DIV BAO TRÙM DISCRIPTION */
    float: left;
    width: 100%;
    font-family: sans-serif;
    margin: 68px 0 0 0;
}

.dis-img-7 {
    float: left;
    width: 50%;
}

.bg-mid-2-body-7 {
    background-image: url(../img/model/m-beigi-n@3x.png);
    width: 100%;
    height: 295px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

/* 
.bg-mid-2-body-7:hover {
    transform: scale(1.25, 1.25);
} */

.dis-bg-mid {
    /* DIV KHUNG CHỨA 2 MÔ TẢ */
    float: left;
    width: 50%;
}

.dis-bg-mid-2-body-7 {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.83;
    letter-spacing: normal;
    padding: 15px;
}

.dis-bg-mid-2-body-7-2 {
    width: 100%;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    padding: 15px;
}

/* end DISCRIPTION 1 */

/* DISCRIPTION 2 */

/*Mobile*/

.dis-img-8 {
    float: left;
    width: 50%;
}

.bg-mid-2-mid-8 {
    background-image: url(../img/model/m-green-n-@3x.png);
    width: 100%;
    height: 277px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

/* .bg-mid-2-mid-8:hover {
    transform: scale(1.25, 1.25);
} */

.dis-bg-mid-8 {
    /* DIV KHUNG CHỨA 2 MÔ TẢ */
    float: left;
    width: 50%;
    font-family: sans-serif;
}

.dis-bg-mid-2-body-8-2 {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.83;
    letter-spacing: normal;
    padding: 15px;
}

.dis-bg-mid-2-body-8-2-chi-tiet {
    width: 100%;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    padding: 15px;
}

/* end DISCRIPTION 2 */

/*Category*/

/*banner*/

.hero-category {
    background-image: url(../img/product/dam-banner.png);
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
    margin: 0px 0px 0px 0px;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dam {
    margin: 105px 0px 0px 110px;
}

.dam h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: -10px;
}

.luon-la-tam-diem {
    width: 57%;
    font-size: 12px;
    line-height: 1.57;
    letter-spacing: normal;
    margin: 10px 0px 0px 10px;
    text-align: center;
}

.shape-click-category {
    /*float: right; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 163px;
    height: 68px;
    background-color: #ffffff;
    /* margin: 126px 0px 20px 0px; */
}

/*end banner*/

/*CATEGORY*/

.container-category {
    width: 100%;
    display: table;
    margin: auto;
}

.space {
    display: none;
}

.space-mobile {
    float: left;
    width: 100%;
    margin: 5px 0 5px 0;
}

.sap-xep-theo {
    float: left;
    width: 110px;
    height: 14px;
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
    padding: 0 0 0 15px;
}

/*mid category*/

.list {
    width: 115px;
    height: 9px;
    float: right;
}

.fa-angle-right {
    font-size: 13px;
}

.fa-angle-left {
    font-size: 13px;
}

/*left menu desktop*/

.left-menu {
    display: none;
}

/*left menu mobile*/

.list-menu-mobile {
    position: relative;
    width: 100%;
    display: table;
    margin: 10px 0 0 0;
}

.list-menu-mobile .left-menu {
    display: block;
    width: 50%;
    font-family: sans-serif;
    float: left;
    text-transform: uppercase;
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;
}

.left-menu p:first-child {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.83;
}

.left-menu a {
    text-decoration: none;
}

.left-menu a:link {
    color: black;
}

.left-menu a:hover {
    color: darkgrey;
}

.left-menu a:visited {
    color: green;
}

.left-menu a:active {
    color: blue;
}

.select-dam li {
    font-size: 10px;
    line-height: 2.2;
    margin-top: 10px;
    list-style-type: none;
}

.select-dam ul {
    display: none;
}

.select-dam:hover ul {
    display: block;
}

.select-trangphucnu li {
    font-size: 10px;
    line-height: 2.2;
    margin-top: 10px;
    list-style-type: none;
}

.select-trangphucnu ul {
    display: none;
}

.select-trangphucnu:hover ul {
    display: block;
}

.select-kichco::after {
    content: "";
    clear: both;
    display: table;
}

.select-kichco li {
    float: left;
    list-style-type: none;
    margin-left: -45px;
}

.select-kichco ul {
    display: none;
}

.select-kichco:hover ul {
    display: block;
}

.btn-kichco {
    margin: 5px 52px 0px 0px;
    width: 30px;
    height: 26px;
    border: solid 1px #000000;
    background-color: #ffffff;
}

.slider {
    -webkit-appearance: none;
    width: 170px;
    height: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 9px;
    height: 11px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 9px;
    height: 11px;
    background: black;
    cursor: pointer;
}

.select-mausac li {
    font-size: 10px;
    line-height: 2.2;
    margin-top: 10px;
    list-style-type: none;
}

.select-mausac ul {
    display: none;
}

.select-mausac:hover ul {
    display: block;
}

.sale-off-img {
    position: relative;
    background-image: url(../img/product/ad@3x.png);
    float: right;
    width: 31%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 20px;
}

.mua-2-giam-10 {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #e9b8bb;
    line-height: 1.33;
    letter-spacing: 0.9px;
    padding: 0;
    margin: 0;
    top: 134px;
    left: 10px;
}

hr {
    position: absolute;
    color: black;
    width: 50px;
    border-width: 3px;
    bottom: 69px;
    left: 10px;
    margin: 0;
    padding: 0;
}

.mua-3-giam-18 {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #e9b8bb;
    line-height: 1.33;
    letter-spacing: 0.9px;
    padding: 0;
    bottom: 20px;
    left: 10px;
}

/*end left menu*/

/*PRODUCT*/

.all-product {
    float: left;
    width: 100%;
    font-family: sans-serif;
}

.procduct {
    float: left;
    width: calc(100% / 3 - 2% - -2% / 3 - .01px);
    height: 275px;
    margin: 10px 11px 0px 0px;
}

.procduct a {
    color: black;
    text-decoration: none;
}

.btn-add-to-card {
    display: none;
    position: absolute;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    height: 20px;
    bottom: 35px;
    left: 38px;
}

.overflow {
    overflow: hidden;
}

/* .overflow:hover .btn-add-to-card {
    display: block;
}

.procduct-test-img:hover .btn-add-to-card {
    display: block;
} */

.product-img {
    background: url(../img/product/product-1@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-2 {
    background: url(../img/product/product-2@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-3 {
    background: url(../img/product/product-3@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-4 {
    background: url(../img/product/product-4@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-5 {
    background: url(../img/product/product-5@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-6 {
    background: url(../img/product/product-6@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-7 {
    background: url(../img/product/product-7@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-8 {
    background: url(../img/product/product-8@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-9 {
    background: url(../img/product/product-9@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-10 {
    background: url(../img/product/product-10@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-11 {
    background: url(../img/product/product-11@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-img-12 {
    background: url(../img/product/product-12@2x.png);
    width: 100%;
    height: 232px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.masp {
    width: 100%;
    height: 14px;
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
}

.giasp {
    width: 100%;
    height: 10px;
    font-size: 12px;
    line-height: 1.83;
    color: #e9b8bb;
    text-align: center;
}

.old-gia {
    text-decoration: line-through;
}

/* end PRODUCT */

.suggestions-category {
    float: left;
    width: 100%;
    font-family: sans-serif;
    margin: 68px 0 0 0;
}

.suggestions-category-bg {
    float: left;
    background: url(../img/product/tu-tin@3x.png);
    width: 50%;
    height: 295px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.suggestions-category-2 {
    font-family: sans-serif;
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.suggestions-category-2-bg {
    float: left;
    background: url(../img/product/chon-lua@3x.png);
    width: 50%;
    height: 286px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    /* INDEX */
    .in-body-lr {
        background-image: url(../img/banner@3x.png);
        position: relative;
        float: left;
        width: 100%;
        height: 403px;
        margin: 0px 0px 0px 0px;
        font-family: sans-serif;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .hero-category {
        background-image: url(../img/product/dam-banner.png);
        position: relative;
        float: left;
        width: 100%;
        height: 403px;
        margin: 0px 0px 0px 0px;
        font-family: sans-serif;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    /* END INDEX */
    /*CATEGORY*/
    .suggestions-category-bg {
        float: left;
        background: url(../img/product/tu-tin@3x.png);
        width: 50%;
        height: 230px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .suggestions-category-2-bg {
        float: left;
        background: url(../img/product/chon-lua@3x.png);
        width: 50%;
        height: 200px;
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
    .sale-off-img {
        float: right;
        position: relative;
        background-image: url(../img/product/ad@3x.png);
        width: 20%;
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        right: 20px;
    }
    .mua-2-giam-10 {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        color: #e9b8bb;
        line-height: 1.33;
        letter-spacing: 0.9px;
        padding: 0;
        margin: 0;
        top: 136px;
        left: 10px;
    }
    .mua-3-giam-18 {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        color: #e9b8bb;
        line-height: 1.33;
        letter-spacing: 0.9px;
        padding: 0;
        margin: 0;
        bottom: 21px;
        left: 10px;
    }
    hr {
        position: absolute;
        bottom: 70px;
        width: 50px;
        border-width: 3px;
        left: 10px;
    }
    /*END CATEGORY*/
}

@media screen and (min-width:992px) {
    /*banner*/
    .hero {
        position: relative;
        float: left;
        width: 100%;
        height: 810px;
        margin: 0px 0px 0px 0px;
        font-family: sans-serif;
    }
    /*banner 1*/
    .in-body-lr {
        background-image: url(../img/banner@3x.png);
        float: left;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 810px;
    }
    .tg-ch {
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.57;
        letter-spacing: 2.8px;
        margin: 164px 0px 0px 364px;
    }
    .g-czsale {
        /*CRAZY SALE*/
        line-height: 1.25;
        letter-spacing: -0.24px;
        text-transform: uppercase;
        margin: 25px 0px 0px 275px;
    }
    .g-czsale h1 {
        font-size: 60px;
        font-weight: 700;
        margin: 0;
    }
    .so-huu-ngay {
        font-size: 20px;
        line-height: 1.57;
        text-transform: uppercase;
        margin: 20px 0px 0px 195px;
    }
    .tim-hieu-them {
        background-color: #ffffff;
        text-align: center;
        width: 150px;
        height: 60px;
        margin: 20px 0px 0px 645px;
    }
    .tim-hieu-them a {
        padding: 18px;
        color: black;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        display: block;
    }
    .f-tim-hieu-them {
        /*button TIM HIEU THEM */
        padding: 15px;
        width: 129px;
        height: 50px;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
    }
    .sale-note {
        position: absolute;
        font-size: 12px;
        bottom: 20px;
        left: 249px;
    }
    /*end Banner 1*/
    /*Banner 2*/
    .hero-category {
        background-image: url(../img/product/dam-banner@3x.png);
        position: relative;
        float: left;
        width: 100%;
        height: 810px;
        margin: 0px 0px 0px 0px;
        font-family: sans-serif;
        background-size: contain;
        background-repeat: repeat-x;
    }
    .dam {
        margin: 200px 0px 0px 355px;
    }
    .dam h1 {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: -10px;
    }
    .luon-la-tam-diem {
        width: 45%;
        font-size: 26px;
        line-height: 1.57;
        letter-spacing: normal;
        margin: 10px 0px 0px 120px;
        text-align: center;
    }
    /*end banner 2*/
    /*CATEGORY Desktop */
    .container-category {
        width: 1000px;
        display: table;
        margin: auto;
    }
    .space-mobile {
        display: none;
    }
    .space {
        display: block;
        width: 100%;
        float: left;
        margin: 40px 0 0 0;
    }
    .sap-xep-theo {
        float: left;
        margin: 0px 0px 5px 214px;
        width: 104px;
        height: 14px;
        font-size: 12px;
        line-height: 1.83;
        text-align: center;
    }
    /*mid category desktop*/
    .list {
        width: 115px;
        height: 9px;
        float: right;
    }
    .fa-angle-right {
        font-size: 13px;
    }
    .fa-angle-left {
        font-size: 13px;
    }
    /*left menu mobile*/
    .list-menu-mobile {
        display: none;
    }
    /*left menu desktop*/
    .left-menu {
        display: block;
        font-family: sans-serif;
        float: left;
        text-transform: uppercase;
        width: 190px;
        height: 1300px;
        margin-left: 20px;
    }
    .left-menu p:first-child {
        font-weight: bold;
        font-size: 12px;
        line-height: 1.83;
    }
    .left-menu a {
        text-decoration: none;
    }
    .left-menu a:link {
        color: black;
    }
    .left-menu a:hover {
        color: darkgrey;
    }
    .left-menu a:visited {
        color: green;
    }
    .left-menu a:active {
        color: blue;
    }
    .select-dam li {
        font-size: 10px;
        line-height: 2.2;
        margin-top: 10px;
        list-style-type: none;
    }
    .select-dam ul {
        display: none;
    }
    .select-dam:hover ul {
        display: block;
    }
    .select-trangphucnu li {
        font-size: 10px;
        line-height: 2.2;
        margin-top: 10px;
        list-style-type: none;
    }
    .select-trangphucnu ul {
        display: none;
    }
    .select-trangphucnu:hover ul {
        display: block;
    }
    .select-kichco::after {
        content: "";
        clear: both;
        display: table;
    }
    .select-kichco li {
        float: left;
        list-style-type: none;
        margin-left: -45px;
    }
    .select-kichco ul {
        display: none;
    }
    .select-kichco:hover ul {
        display: block;
    }
    .btn-kichco {
        margin: 5px 52px 0px 0px;
        width: 30px;
        height: 26px;
        border: solid 1px #000000;
        background-color: #ffffff;
    }
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background: black;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 9px;
        height: 11px;
        background: black;
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 9px;
        height: 11px;
        background: black;
        cursor: pointer;
    }
    .select-mausac li {
        font-size: 10px;
        line-height: 2.2;
        margin-top: 10px;
        list-style-type: none;
    }
    .select-mausac ul {
        display: none;
    }
    .select-mausac:hover ul {
        display: block;
    }
    .sale-off-img {
        position: relative;
        background-image: url(../img/product/ad.png);
        float: left;
        width: 176px;
        height: 260px;
        margin: 20px 0px 0px 0px;
    }
    .mua-2-giam-10 {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        color: #e9b8bb;
        line-height: 1.33;
        letter-spacing: 0.9px;
        padding: 0;
        margin: 0;
        top: 136px;
        left: 10px;
    }
    .mua-3-giam-18 {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        color: #e9b8bb;
        line-height: 1.33;
        letter-spacing: 0.9px;
        padding: 0;
        margin: 0;
        bottom: 21px;
        left: 10px;
    }
    /*end left menu*/
    /*PRODUCT CATEGORY*/
    .all-product {
        float: left;
        width: 790px;
        font-family: sans-serif;
    }
    .procduct {
        float: left;
        width: 219px;
        height: 322px;
        margin: 10px 20px 0px 20px;
        animation: oppro 2s ease-out normal forwards;
    }
    .procduct:hover {
        border: 1px solid black;
    }
    @-webkit-keyframes oppro {
        from {
            bottom: 500px;
            opacity: 0.2;
        }
        to {
            bottom: 0px;
            opacity: 1;
        }
    }
    @keyframes oppro {
        from {
            bottom: 500px;
            opacity: 0.2;
        }
        to {
            bottom: 0px;
            opacity: 1;
        }
    }
    /*.procduct:hover{
    background-color: black;
    transform: scale(1.25,1.25);
}*/
    .procduct a {
        color: black;
        text-decoration: none;
    }
    .product-img-scale:hover {
        border: black;
        -ms-transform: scale(1.25, 1.25);
        /* IE 9 */
        -webkit-transform: scale(1.25, 1.25);
        /* Safari prior 9.0 */
        transform: scale(1.25, 1.25);
        /* Standard syntax */
    }
    .btn-add-to-card {
        display: none;
        position: absolute;
        border-radius: 8px;
        border: none;
        background-color: #ffffff;
        color: black;
        cursor: pointer;
        font-size: 12px;
        width: 100px;
        height: 20px;
        bottom: 15px;
        left: 60px;
        animation-name: down-to-up;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        -webkit-animation-name: down-to-up;
        -webkit-animation-duration: 1s;
        -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
    }
    .overflow {
        overflow: hidden;
    }
    .overflow:hover .btn-add-to-card {
        display: block;
    }
    .procduct-test-img:hover .btn-add-to-card {
        display: block;
    }
    @-webkit-keyframes down-to-up {
        /*0%{bottom:0;}
    100%{bottom:20px;}*/
        from {
            bottom: 0;
            opacity: 0.2;
        }
        to {
            bottom: 40px;
            opacity: 1;
        }
    }
    @keyframes down-to-up {
        /*0%{bottom:0;}
    100%{bottom:20px;}*/
        from {
            bottom: 0;
            opacity: 0.2;
        }
        to {
            bottom: 40px;
            opacity: 1;
        }
    }
    .product-img {
        background: url(../img/product/product-1.png);
        width: 219px;
        height: 284px;
    }
    .product-img-2 {
        background: url(../img/product/product-2.png);
        width: 219px;
        height: 284px;
    }
    .product-img-3 {
        background: url(../img/product/product-3.png);
        width: 219px;
        height: 284px;
    }
    .product-img-4 {
        background: url(../img/product/product-4.png);
        width: 219px;
        height: 284px;
    }
    .product-img-5 {
        background: url(../img/product/product-5.png);
        width: 219px;
        height: 284px;
    }
    .product-img-6 {
        background: url(../img/product/product-6.png);
        width: 219px;
        height: 284px;
    }
    .product-img-7 {
        background: url(../img/product/product-7.png);
        width: 219px;
        height: 284px;
    }
    .product-img-8 {
        background: url(../img/product/product-8.png);
        width: 219px;
        height: 284px;
    }
    .product-img-9 {
        background: url(../img/product/product-9.png);
        width: 219px;
        height: 284px;
    }
    .product-img-10 {
        background: url(../img/product/product-10.png);
        width: 219px;
        height: 284px;
    }
    .product-img-11 {
        background: url(../img/product/product-11.png);
        width: 219px;
        height: 284px;
    }
    .product-img-12 {
        background: url(../img/product/product-12.png);
        width: 219px;
        height: 284px;
    }
    .masp {
        width: 219px;
        height: 14px;
        font-size: 12px;
        line-height: 1.83;
        text-align: center;
    }
    .giasp {
        width: 219px;
        height: 10px;
        font-size: 12px;
        line-height: 1.83;
        color: #e9b8bb;
        text-align: center;
    }
    .old-gia {
        text-decoration: line-through;
    }
    /* end PRODUCT CATEGORY */
    .suggestions-category {
        float: left;
        display: flex;
        width: 100%;
        font-family: sans-serif;
        margin: 68px 0 0 0;
    }
    .suggestions-category-bg {
        float: left;
        background: url(../img/product/tu-tin@3x.png);
        width: 47%;
        height: 393px;
        margin: 0px 0px 10px 45px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: transform 2s;
        transition: transform 2s;
    }
    .suggestions-category-bg:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .suggestions-category-2 {
        font-family: sans-serif;
        width: 100%;
        float: left;
        display: flex;
        justify-content: space-between;
    }
    .suggestions-category-2-bg {
        float: left;
        background: url(../img/product/chon-lua@3x.png);
        width: 47%;
        height: 393px;
        margin: 0px 45px 10px 20px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: transform 2s;
        transition: transform 2s;
    }
    .suggestions-category-2-bg:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .menu-direct {
        width: 100%;
        float: left;
        margin: 100px 0px 20px 20px;
    }
    .menu-direct a {
        float: left;
        margin-left: 5px;
        color: black;
        text-decoration: none;
    }
    /* END CATEGORY DESKTOP*/
}