header {
    width: 100%;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

body {
    width: 100%;
    margin: 0;
}

.row {
    width: 100%;
}

.hmenu2 a {
    color: #ffffff;
    text-decoration: none;
}

.hmenu2 a:hover {
    color: grey;
}

.hmenu2 a:visited {
    color: blue;
}

.hmenu2 a:active {
    color: red;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

a:visited {
    color: black;
}

a:active {
    color: red;
}

/* TOP-BAR */

.top-bar {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    font-family: sans-serif;
    z-index: 10;
}

.top-bar::after {
    content: "";
    clear: both;
    display: table;
}

.ul-top-bar {
    padding: 0;
    margin: 0;
    float: right;
    list-style-type: none;
}

.ul-top-bar::after {
    content: "";
    clear: both;
    display: table;
}

.ul-top-bar li {
    float: left;
    margin: 10px 10px 10px 15px;
    font-size: 10px;
}

.ul-top-bar a {
    text-decoration: none;
    color: black;
}

.ul-top-bar a:link {
    color: black
}

.ul-top-bar a:visited {
    color: green;
}

.ul-top-bar a:hover {
    color: darkgrey;
}

.ul-top-bar a:active {
    color: blue;
}

/*end TOP-BAR */

/* MENU */

.hmenu2 {
    top: 0;
    left: 0;
    margin-top: 28px;
    position: fixed;
    float: left;
    width: 100%;
    height: 57px;
    background-color: black;
    font-family: sans-serif;
    z-index: 10;
}

/*.hmenu2::after{
    content: "";
    clear: both;
    display: table;
}*/

/*mobile first*/

.hmenu2 .ulhmenu2 {
    visibility: hidden;
}

.ulhmenu2-res {
    display: block;
}

.fa-bars {
    font-size: 20px;
    color: white;
}

.ulhmenu2-res {
    float: right;
    list-style-type: none;
    margin: 20px 50px 20px 20px;
    padding: 0;
}

.hmenu3 {
    width: 100%;
    margin-top: 100px;
}

.hmenu3>ul {
    float: left;
    width: 100%;
    padding: 0;
}

.hmenu3>ul>li {
    float: left;
    width: 50%;
}

.honganstore {
    float: left;
    text-transform: lowercase;
    padding: 14px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 0 0 30px;
}

/* HINH THUC GIAO HANG*/

.hmenu3 ul {
    padding: 0;
    list-style-type: none;
}

.hmenu3>ul>li {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.ulhmenu3-li-ul {
    display: flex;
}

.ulhmenu3-li-ul li p:last-child {
    color: darkgrey;
}

.ulhmenu3-li-ul p {
    margin-top: 3px;
}

/*end HINH THUC GIAO HANG */

.he-thong-cua-hang {
    float: left;
    background-color: #eab7bc;
    font-family: sans-serif;
    width: 100%;
    height: 423px;
    text-align: center;
    margin: 50px 0 0 0;
}

.he-thong {
    font-size: 14px;
    font-weight: bold;
    margin-top: 82px;
}

.gio-hoat-dong {
    font-size: 14px;
    font-weight: normal;
    margin-top: 7px;
}

.store {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.5;
}

.dia-chia {
    font-size: 14px;
    font-weight: normal;
    margin-top: 4.5px;
    line-height: 1.5;
}

.dia-chia:last-child {
    margin-bottom: 70px;
}

.dang-ky-nhan-voucher {
    float: left;
    margin: 10px 0 0 0;
    background: url(../img/model/b-hoatiet-@3x.png) center no-repeat;
    background-size: cover;
    font-family: sans-serif;
    width: 100%;
    height: 423px;
    text-align: center;
    position: relative;
}

.voucher {
    float: left;
    width: 434px;
    height: 351px;
    opacity: 0.92;
    background: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.khach-hang-moi {
    font-size: 14px;
    font-weight: bold;
    margin-top: 28px;
}

.nhan-voucher {
    font-size: 14px;
    font-weight: normal;
    margin-top: 18px;
}

.nhan-ngay-20 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.uu-dai {
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0px 10px 0px;
}

.btn-dang-ky {
    width: 130px;
    height: 42px;
    background-color: black;
    color: #ffffff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.ho-tro-khach-hang {
    margin: 10px 0 0 0;
    background-color: #ebebeb;
    font-family: sans-serif;
    float: left;
    width: 100%;
    height: 423px;
    text-align: center;
}

.ho-tro {
    font-size: 14px;
    font-weight: bold;
    margin: 82px 0 0 0;
}

.chi-tiet-ho-tro {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    margin: 0 0 75px 0;
}

.chi-tiet-ho-tro a {
    text-decoration: none;
    color: black;
}

/*FOOTER*/

.bottom {
    display: none;
}

.bottom-mobile {
    font-family: sans-serif;
    float: left;
    width: 100%;
    background-color: black;
    color: #ffffff;
}

.bottom-method {
    float: left;
    font-weight: bold;
    width: 100%;
}

.thanhtoan {
    float: left;
    width: 50%;
    margin: 25px 0 0 0;
}

.thanhtoan p {
    padding: 0 0 0 36px;
    font-size: 14px;
}

.bottom-method-thanhtoan {
    width: 50%;
    float: left;
    display: flex;
}

.master-card {
    margin: 0px 0px 30px 40.5px;
}

.visa {
    margin: 0px 0px 30px 10px;
}

.dollars {
    margin: 0px 0px 30px 10px;
}

.vanchuyen {
    float: left;
    width: 50%;
    margin: 25px 0px 22.5px 0px;
}

.vanchuyen p {
    font-size: 14px;
}

.bottom-method-vanchuyen {
    float: left;
    display: flex;
}

.kerry-express {
    margin: 0px 0px 30px 0px;
}

.viettel-post {
    margin: 0px 0px 30px 10px;
}

.vietnam-post {
    margin: 0px 0px 30px 10px;
}

.chungnhan {
    float: left;
    clear: both;
    width: 50%;
    margin: 25px 0 0 0;
}

.chungnhan p {
    padding: 0 0 0 36px;
    font-size: 14px;
}

.bottom-method-chungnhan {
    float: left;
    display: flex;
}

.da-thong-bao {
    margin: 0px 0px 90px 40.5px;
}

.tin-dung {
    margin: 0px 0px 90px 10px;
}

.baomat {
    float: left;
    width: 50%;
    margin: 25px 0px 22.5px 0px;
}

.bottom-method-img {
    width: 1000px;
    height: 170px;
}

.bottom-method-baomat {
    float: left;
}

.bottom-method-baomat ul {
    padding: 0;
    list-style-type: none;
}

.bottom-method-baomat li {
    font-size: 10px;
    line-height: 2.4;
}

.bottom-method-baomat li::before {
    content: url(../img/shape/check.png);
    margin-bottom: 3px;
}

.fa-check-circle {
    color: green;
    background-color: #ffffff;
    border-radius: 7px;
}

.copy-right {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

/* end FOOTER*/

/*end HINH THUC GIAO HANG*/

.co-the-ban-se-thich {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}

.masp {
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
    text-transform: uppercase;
}

.giasp {
    font-size: 12px;
    line-height: 1.83;
    color: #e9b8bb;
    text-align: center;
}

@media screen and (min-width:992px) {
    /* MENU SẢN PHẨM*/
    .ulhmenu2-res {
        display: none;
    }
    .hmenu2 .ulhmenu2 {
        visibility: visible;
    }
    .hmenu2 {
        margin-top: 28px;
        position: fixed;
        float: left;
        width: 100%;
        height: 57px;
        background-color: black;
        font-family: sans-serif;
        z-index: 10;
    }
    /* ul SẢN PHẨM */
    .active-a {
        border-bottom: 3px solid white;
    }
    .ulhmenu2 {
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        margin: 0;
    }
    .ulhmenu2::after {
        content: "";
        clear: both;
        display: table;
    }
    /* li bên trong thanh menu sản phẩm */
    .ulhmenu2 li {
        padding-top: 20px;
        width: 110px;
        height: 100%;
        color: white;
        font-size: 11px;
        font-weight: bold;
        line-height: 2.2;
        letter-spacing: -0.1px;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
    }
    .ulhmenu2 li:hover {
        background-color: #ffffff;
    }
    .ulhmenu2 li:hover a {
        color: black;
    }
    /* link a chứa trong li */
    .ulhmenu2 a {
        color: white;
        text-decoration: none;
    }
    .ulhmenu2 a:link {
        color: white;
    }
    .ulhmenu2 a:visited {
        color: green;
    }
    .ulhmenu2 a:hover {
        color: #000000;
    }
    .ulhmenu2 a:active {
        color: blue;
    }
    /* dropdown menu */
    .ulhmenu2 .hassubs {
        height: 100%;
        position: relative;
    }
    .ulhmenu2 .hassubs .dropdown {
        height: 130px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        padding: 0;
        list-style-type: none;
        visibility: hidden;
    }
    .ulhmenu2 .hassubs:last-child .dropdown {
        height: 130px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        right: 0;
        padding: 0;
        list-style-type: none;
        visibility: hidden;
    }
    .ulhmenu2 .hassubs:last-child .hassubs .dropdown {
        left: auto;
        right: 100%;
        top: 0;
        visibility: hidden;
    }
    .ulhmenu2 .hassubs:hover .dropdown {
        visibility: visible;
    }
    .ulhmenu2 .hassubs .hassubs .dropdown {
        left: 100%;
        top: 0;
        visibility: hidden;
    }
    .ulhmenu2 .hassubs .hassubs:hover .dropdown {
        visibility: visible;
    }
    .dropdown .subs {
        background-color: black;
        padding: 10px 0 0 0;
    }
    /*dropdown hover*/
    .dropdown .subs.hassubs a, .hassubs .dropdown .subs.hassubs .dropdown .subs a {
        color: white;
    }
    .dropdown .subs.hassubs:hover a, .hassubs .dropdown .subs.hassubs .dropdown .subs:hover a {
        color: black;
    }
    /*end MENU SAN PHAM */
    /*HINH THUC GIAO HANG */
    .hmenu3 {
        margin-top: 6.5%;
        margin-bottom: 2%;
        width: 100%;
        font-family: sans-serif;
    }
    .hmenu3>ul {
        width: 100%;
        float: none;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .hmenu3>ul>li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    .ulhmenu3-li-ul li {
        list-style-type: none;
        float: left;
        margin: 10px 5px -20px -1px;
    }
    .ulhmenu3-li-ul li p:last-child {
        color: darkgrey;
    }
    .ulhmenu3-li-ul p {
        margin-top: 3px;
    }
    /* SUB FOOTER DESKTOP */
    /*1 SUB FOOTER DESKTOP*/
    .he-thong-cua-hang {
        float: left;
        background-color: #eab7bc;
        font-family: sans-serif;
        width: 33.3%;
        height: 423px;
        text-align: center;
        margin: 50px 0 0 0;
    }
    .he-thong {
        font-size: 14px;
        font-weight: bold;
        margin-top: 82px;
    }
    .gio-hoat-dong {
        font-size: 14px;
        font-weight: normal;
        margin-top: 7px;
    }
    .store {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1.5;
    }
    .dia-chia {
        font-size: 14px;
        font-weight: normal;
        margin-top: 4.5px;
        line-height: 1.5;
    }
    .dia-chia:last-child {
        margin-bottom: 70px;
    }
    /*2 SUB FOOTER DESKTOP*/
    .dang-ky-nhan-voucher {
        float: left;
        margin: 50px 0 0 0;
        background: url(../img/model/b-hoatiet-@3x.png) center no-repeat;
        background-size: cover;
        font-family: sans-serif;
        width: 33.4%;
        height: 423px;
        text-align: center;
    }
    .voucher {
        float: left;
        width: 90%;
        height: 351px;
        opacity: 0.92;
        background: #ffffff;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .khach-hang-moi {
        font-size: 14px;
        font-weight: bold;
        margin-top: 28px;
    }
    .nhan-voucher {
        font-size: 14px;
        font-weight: normal;
        margin-top: 18px;
    }
    .nhan-ngay-20 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }
    .uu-dai {
        font-size: 14px;
        font-weight: normal;
        margin: 5px 0px 10px 0px;
    }
    .btn-dang-ky {
        width: 130px;
        height: 42px;
        background-color: black;
        color: #ffffff;
        border: none;
        margin-top: 15px;
        cursor: pointer;
    }
    /*3 SUB FOOTER DESKTOP*/
    .ho-tro-khach-hang {
        margin: 50px 0 0 0;
        background-color: #ebebeb;
        font-family: sans-serif;
        float: left;
        width: 33.3%;
        height: 423px;
        text-align: center;
    }
    .ho-tro {
        font-size: 14px;
        font-weight: bold;
        margin: 82px 0 0 0;
    }
    .chi-tiet-ho-tro {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        line-height: 2;
        margin: 0 0 70px 0;
    }
    .chi-tiet-ho-tro a {
        text-decoration: none;
        color: black;
    }
    /*END FOOTER MOBILE*/
    /*FOOTER DESKTOP*/
    .bottom-mobile {
        display: none;
    }
    .bottom {
        display: block;
        font-family: sans-serif;
        float: left;
        width: 100%;
        background-color: black;
        color: #ffffff;
    }
    .bottom-method {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        width: 100%;
        font-size: 14px;
    }
    /* Chữ FOOTER DESKTOP */
    .thanhtoan {
        height: 16.8px;
        width: 93px;
        margin: 75px 0 22.5px 37.5px;
    }
    .vanchuyen {
        height: 16.8px;
        width: 368px;
        margin: 75px 0px 22.5px 0px;
    }
    .chungnhan {
        width: 210px;
        height: 16.8px;
        margin: 75px 0px 22.5px 0px;
    }
    .baomat {
        width: 335px;
        height: 16.8px;
        margin: 75px 37.5px 22.5px 0px;
    }
    /*Hình ảnh FOOTER DESKTOP*/
    .bottom-method-img {
        width: 1000px;
        height: 170px;
    }
    .bottom-img-i{
        width: 100%;
        display: table;
    }
    .bottom-method-thanhtoan {
        width: auto;
        float: left;
        display: flex;
    }
    .master-card {
        margin: 10px 0px 90px 40.5px;
    }
    .visa {
        margin: 10px 0px 90px 10px;
    }
    .dollars {
        margin: 10px 0px 90px 10px;
    }
    .bottom-method-vanchuyen {
        float: left;
        display: flex;
    }
    .kerry-express {
        margin: 12px 0px 90px 91px;
    }
    .viettel-post {
        margin: 12px 0px 90px 10px;
    }
    .vietnam-post {
        margin: 12px 0px 90px 10px;
    }
    .bottom-method-chungnhan {
        float: left;
        display: flex;
    }
    .da-thong-bao {
        margin: 12px 0px 90px 256px;
    }
    .tin-dung {
        margin: 12px 0px 90px 10px;
    }
    .bottom-method-baomat {
        float: left;
        margin: 0px 77.5px 0px 256px;
    }
    .bottom-method-baomat ul {
        padding: 0;
        list-style-type: none;
    }
    .bottom-method-baomat li {
        font-size: 10px;
        line-height: 2.4;
    }
    .bottom-method-baomat li::before {
        content: url(../img/shape/check.png);
        margin-bottom: 3px;
    }
    .fa-check-circle {
        color: green;
        background-color: #ffffff;
        border-radius: 7px;
    }
    /* end FOOTER DESKTOP*/
    .copy-right {
        float: left;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: #ffffff;
        margin: 87px 0 37.5px 0;
    }
}