.menu-direct {
    width: 100%;
    float: left;
    margin: 100px 0px 20px 20px;
}

.menu-direct a {
    float: left;
    font-size: 14px;
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

/*DETAILS*/

.details-info {
    display: none;
}

.container-chitiet {
    width: 100%;
    display: table;
    font-family: sans-serif;
}

.details-info-mobile {
    width: 100%;
    margin: auto;
}

.details-info-mobile .left-section .product-img-detail .main-img img {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*left section*/

.left-section {
    width: 50%;
    font-family: sans-serif;
    margin: 0 0 0 10px;
    background: rgba(234, 200, 210, 0.3);
}

.dam-om-ho-vai {
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 1.57;
    letter-spacing: -0.1px;
}

.dam-om-ho-vai h3 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.gia-detail {
    width: 100%;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: -0.1px;
    text-align: center;
}

.mo-ta-lon {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mo-ta {
    float: left;
    line-height: 1.8;
    letter-spacing: -0.1px;
    font-size: 10px;
    width: 100%;
    margin: 24px 0px 0px 20px;
}

.note-uu-dai {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.uu-dai {
    width: 100%;
    display: table;
    padding: 0 0 0 10px;
}

.note {
    width: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 2.8;
    letter-spacing: -0.1px;
    margin: 10px 78px 0px 0px;
}

.note-2 {
    width: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 2.8;
    letter-spacing: -0.1px;
    margin: 10px 110px 0px 0px;
}

.note-3 {
    width: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 2.8;
    letter-spacing: -0.1px;
    margin: 10px 105px 0px 0px;
}

.note-4 {
    width: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 2.8;
    letter-spacing: -0.1px;
    margin: 20px 0px 0px 0px;
}

.btn-mienphi {
    position: absolute;
    float: left;
    padding-top: 7px;
    text-align: center;
    width: 80px;
    height: 28px;
    margin-top: 10px;
    font-size: 13px;
    right: 20px;
    background-color: #eab7bc;
    border: none;
    color: #ffffff;
}

/* end left section */

/* img product details */

.product-img-detail {
    width: 100%;
    display: table;
}

.product-img-detail .sub-img:last-child {
    margin-right: 0px;
}

.main-img {
    float: left;
}

.sub-img {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}

/*end img product details*/

/*properties */

.properties {
    width: 50%;
    display: table;
    font-family: sans-serif;
    padding: 0 0 0 20px;
}

.mausac {
    font-size: 10px;
    margin-bottom: 10px;
}

.kichco {
    font-size: 10px;
    margin: 10px 0px 10px 0px;
}

.btn-kichco-detail {
    margin: 5px 5px 0px 0px;
    width: 30px;
    height: 26px;
    border: solid 1px #000000;
    background-color: #ffffff;
}

.btn-kichco-detail:link {
    background-color: black;
}

.btn-kichco-detail:hover {
    background-color: black;
    color: #ffffff;
}

.btn-kichco-detail:active {
    background-color: black;
    color: #ffffff;
}

.btn-kichco-detail:visited {
    background-color: black;
    color: #ffffff;
}

.color {
    width: 26px;
    height: 26px;
    border: none;
}

.black {
    background-color: black;
}

.pink {
    background-color: #eab7bc;
}

.btn-cho-vao-giohang {
    width: 138px;
    height: 42px;
    background-color: #00a99d;
    color: #ffffff;
    border: none;
    margin: 10px 0px 20px 0px;
}

.btn {
    border: solid 1px black;
    background-color: #ffffff;
    cursor: pointer;
}

.dis-detail {
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: -0.05px;
    margin-top: 87px;
}

.dis-detail p:first-child {
    font-weight: bold;
}

/*end properties*/

.MENU-DETAILS {
    float: left;
    width: 100%;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: -0.1px;
}

.MENU-DETAILS::after {
    content: "";
    clear: both;
    display: table;
}

.thuoc-tinh {
    font-size: 10px;
    font-weight: bold;
    line-height: 2.2;
}

.mota-thuoc-tinh {
    margin-left: 50px;
    font-size: 12px;
    line-height: 1.5;
}

.dung-bo-lo {
    float: left;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0px 25px 0px;
}

.btn-add-to-card {
    display: none;
    position: absolute;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
    height: 20px;
    bottom: 35px;
    left: 38px;
}

.overflow {
    overflow: hidden;
}

.procduct {
    float: left;
    width: 37%;
    margin: 10px;
}

.procduct a {
    color: black;
    text-decoration: none;
}

.procduct:nth-child(3) {
    display: none;
}

.procduct:nth-child(4) {
    display: none;
}

.product-img {
    background: url(../img/product/product-1@3x.png);
    width: 219px;
    height: 284px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.product-img-3 {
    background: url(../img/product/product-3@3x.png);
    width: 219px;
    height: 284px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.product-img-5 {
    background: url(../img/product/product-5@3x.png);
    width: 219px;
    height: 284px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.product-img-6 {
    background: url(../img/product/product-6@3x.png);
    width: 219px;
    height: 284px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.masp {
    width: 100%;
    height: 14px;
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
}

.giasp {
    width: 100%;
    height: 22px;
    font-size: 12px;
    line-height: 1.83;
    color: #e9b8bb;
    text-align: center;
}

.old-gia {
    text-decoration: line-through;
}

.all-product-details {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 0 10px;
}

/* end PRODUCT CATEGORY */

/*end DETAILS*/

/*TABLET*/

@media screen and (min-width:768px) {
    .procduct {
        display: table;
        width: calc(100% / 3 - 2% - -2% / 3 - .01px);
    }
    .procduct:nth-child(3) {
        display: block;
    }
    .procduct:nth-child(4) {
        display: none;
    }
}

/*DESKTOP*/

@media screen and (min-width:992px) {
    .menu-direct {
        width: 100%;
        float: left;
        margin: 100px 0px 20px 20px;
    }
    .menu-direct a {
        float: left;
        margin-left: 5px;
        color: black;
        text-decoration: none;
    }
    /*left section*/
    .left-section {
        float: left;
        width: 330px;
        font-family: sans-serif;
        background: none;
    }
    .dam-om-ho-vai {
        font-weight: bold;
        font-size: 18px;
        width: 330px;
        text-align: center;
        line-height: 1.57;
        letter-spacing: -0.1px;
    }
    .dam-om-ho-vai h3 {
        font-weight: bold;
        margin: 0;
    }
    .gia-detail {
        width: 330px;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: -0.1px;
        text-align: center;
    }
    .mo-ta {
        float: left;
        line-height: 1.8;
        letter-spacing: -0.1px;
        font-size: 10px;
        width: 300px;
        margin: 24px 0px 0px 20px;
    }
    /* end left section */
    /* img product details */
    .product-img-detail {
        margin-left: 30px;
        float: left;
        width: 324px;
    }
    .product-img-detail .sub-img:last-child {
        margin-right: 0px;
    }
    .main-img {
        float: left;
    }
    .sub-img {
        float: left;
        margin-right: 9px;
    }
    /*end img product details*/
    /*properties */
    .properties {
        float: left;
        width: auto;
        margin-left: 30px;
        font-family: sans-serif;
    }
    .mausac {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .kichco {
        font-size: 10px;
        margin: 10px 0px 10px 0px;
    }
    .btn-kichco-detail {
        margin: 5px 5px 0px 0px;
        width: 30px;
        height: 26px;
        border: solid 1px #000000;
        background-color: #ffffff;
    }
    .btn-kichco-detail:link {
        background-color: black;
    }
    .btn-kichco-detail:hover {
        background-color: black;
        color: #ffffff;
    }
    .btn-kichco-detail:active {
        background-color: black;
        color: #ffffff;
    }
    .btn-kichco-detail:visited {
        background-color: black;
        color: #ffffff;
    }
    .color {
        width: 26px;
        height: 26px;
        border: none;
    }
    .black {
        background-color: black;
    }
    .pink {
        background-color: #eab7bc;
    }
    .btn-cho-vao-giohang {
        width: 138px;
        height: 42px;
        font-size: 13px;
        background-color: #00a99d;
        color: #ffffff;
        border: none;
        margin: 10px 0px 20px 0px;
    }
    .btn {
        border: solid 1px black;
        background-color: #ffffff;
        cursor: pointer;
    }
    .dis-detail {
        font-size: 10px;
        line-height: 1.8;
        letter-spacing: -0.05px;
        margin-top: 87px;
    }
    .dis-detail p:first-child {
        font-weight: bold;
    }
    /*end properties*/
    .MENU-DETAILS {
        float: left;
        width: 1000px;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: -0.1px;
    }
    .MENU-DETAILS::after {
        content: "";
        clear: both;
        display: table;
    }
    /* .Chi-tiet-details ul {
        display: none;
        margin-left: -70px;
        margin-right: -700px;
    }
    .Chi-tiet-details:hover ul {
        display: block;
    }
    .Chi-tiet-details li {
        display: flex;
    } */
    .thuoc-tinh {
        font-size: 10px;
        font-weight: bold;
        line-height: 2.2;
    }
    .mota-thuoc-tinh {
        margin-left: 50px;
        font-size: 12px;
        line-height: 1.5;
    }
    .co-the-ban-se-thich {
        width: 1000px;
        height: 30px;
        margin-top: 50px;
    }
    /*END DETAILS DESKTOP*/
    .all-product-details {
        width: 1000px;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        padding: 0 0 0 10px;
    }
    /*PRODUCT CATEGORY*/
    .all-product {
        float: left;
        width: 790px;
        font-family: sans-serif;
    }
    .procduct {
        float: left;
        width: 219px;
        height: 322px;
        margin: 10px 20px 0px 20px;
        animation: oppro 2s ease-out normal forwards;
    }
    .procduct:nth-child(3) {
        display: block;
    }
    .procduct:nth-child(4) {
        display: block;
    }
    .procduct:hover {
        border: 1px solid black;
    }
    @-webkit-keyframes oppro {
        from {
            bottom: 500px;
            opacity: 0.2;
        }
        to {
            bottom: 0px;
            opacity: 1;
        }
    }
    @keyframes oppro {
        from {
            bottom: 500px;
            opacity: 0.2;
        }
        to {
            bottom: 0px;
            opacity: 1;
        }
    }
    .product-img-scale:hover {
        border: black;
        -ms-transform: scale(1.25, 1.25);
        /* IE 9 */
        -webkit-transform: scale(1.25, 1.25);
        /* Safari prior 9.0 */
        transform: scale(1.25, 1.25);
        /* Standard syntax */
    }
    .overflow {
        overflow: hidden;
    }
    .overflow:hover .btn-add-to-card {
        display: block;
    }
    .procduct-test-img:hover .btn-add-to-card {
        display: block;
    }
    .btn-add-to-card {
        display: none;
        position: absolute;
        border-radius: 8px;
        border: none;
        background-color: #ffffff;
        color: black;
        cursor: pointer;
        font-size: 12px;
        width: 100px;
        height: 20px;
        bottom: 15px;
        left: 60px;
        animation-name: down-to-up;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        -webkit-animation-name: down-to-up;
        -webkit-animation-duration: 1s;
        -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
    }
    @-webkit-keyframes down-to-up {
        /*0%{bottom:0;}
        100%{bottom:20px;}*/
        from {
            bottom: 0;
            opacity: 0.2;
        }
        to {
            bottom: 40px;
            opacity: 1;
        }
    }
    @keyframes down-to-up {
        /*0%{bottom:0;}
        100%{bottom:20px;}*/
        from {
            bottom: 0;
            opacity: 0.2;
        }
        to {
            bottom: 40px;
            opacity: 1;
        }
    }
    .product-img {
        background: url(../img/product/product-1.png);
        width: 219px;
        height: 284px;
    }
    .product-img-3 {
        background: url(../img/product/product-3.png);
        width: 219px;
        height: 284px;
    }
    .product-img-5 {
        background: url(../img/product/product-5.png);
        width: 219px;
        height: 284px;
    }
    .product-img-6 {
        background: url(../img/product/product-6.png);
        width: 219px;
        height: 284px;
    }
    .masp {
        width: 219px;
        height: 14px;
        font-size: 12px;
        line-height: 1.83;
        text-align: center;
    }
    .giasp {
        width: 219px;
        height: 10px;
        font-size: 12px;
        line-height: 1.83;
        color: #e9b8bb;
        text-align: center;
    }
    .old-gia {
        text-decoration: line-through;
    }
    /* end PRODUCT CATEGORY */
    /*DETAILS DESKTOP*/
    .container-chitiet {
        width: 100%;
        display: table;
        font-family: sans-serif;
    }
    .details-info-mobile {
        display: none;
    }
    .details-info {
        width: 1000px;
        display: block;
        margin: auto;
    }
    .mov-left-all-product-details {
        -webkit-animation: mov-left-all-product 3s ease-out normal forwards;
        animation: mov-left-all-product 3s ease-out normal forwards;
    }
    @-webkit-keyframes mov-left-all-product {
        0% {
            left: -30px;
            opacity: 0;
        }
        100% {
            opacity: 1;
            left: 0px;
        }
    }
    @keyframes mov-left-all-product {
        0% {
            left: -30px;
            opacity: 0;
        }
        100% {
            opacity: 1;
            left: 0px;
        }
    }
}