.detailsContainer {
  float: left;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.directLink {
  width: 100%;
  margin: 0 0 20px 0;
}
.directLink a {
  height: 12px;
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: -0.05px;
}
.directLink span {
  font-size: 12px;
  margin: 0 2px 0 2px;
}
.detailsContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
