.info {
  width: 364px;
}
.info h3 {
  width: 330px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.57;
  letter-spacing: -0.1px;
  margin: 0;
}
.info p {
  width: 330px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: -0.1px;
  text-align: center;
}
.describe {
  display: none;
}
.note {
  display: none;
}
.subNote {
  margin: 30px 0 0 0;
}
.subNote span:first-child {
  text-transform: uppercase;
}
.subNote span {
  display: block;
  font-size: 12px;
}
.note p {
  text-align: left;
  font-size: 10px;
  line-height: 2.8;
  letter-spacing: -0.1px;
  margin: 10px 0 0 0;
}
.note p::after {
  position: absolute;
  content: "Miễn phí";
  padding: 1.5px 12px;
  background-color: #eab7bc;
  font-size: 10px;
  color: #ffffff;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  right: 40px;
}
@media screen and (min-width: 576px) {
  .describe {
    display: block;
    line-height: 1.8;
    letter-spacing: -0.1px;
    font-size: 10px;
    width: 300px;
    margin: 24px 0 0 0;
  }
  .note {
    display: block;
    position: relative;
    width: 100%;
    display: table;
  }
}
