body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
.root {
  font-family: sans-serif;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
}
a:hover {
  color: #a5a0a9;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
.marginToHeader {
  margin: 105px 0 0 0;
}
header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}
.container {
  width: 100%;
  font-family: sans-serif;
}
.category-main {
  float: left;
}
.fa-bars {
  color: white;
  font-size: 30px;
}
.fa-caret-down {
  color: #ffffff;
  font-size: 40px;
}
.fa-caret-up {
  color: #ffffff;
  font-size: 40px;
}

.fa-check-circle {
  color: #2e8b57;
}
